*{
	padding: 0;
	 margin: 0; 
}
header{
     background:#363636;
     height: 100px;
}
header nav ul {
	width: 200px;
	float: right;
}
header nav ul li {
display: inline-block;
}
main{
	height:85vh;
}
footer{
	background:#363636;
     height: 100px;
}